
<div class="container col-md-6">
<div *ngIf="!isSend" class="mt-5">
    <input type="text" class="form-control" [(ngModel)]="account.name" 
           name="name" placeholder="Your name" #name="ngModel" required>
    <div [hidden]="name.valid||name.untouched" class="alert alert-danger">Имя обязательно</div>

    <input type="text" class="form-control mt-2" [(ngModel)]="account.lastname" 
           name="lastname" placeholder="Your lastname" #lastname="ngModel" required>
    <div [hidden]="lastname.valid||lastname.untouched" class="alert alert-danger">Фамилия обязательна</div>
  
    <input type="email" class="form-control mt-2" [(ngModel)]="account.email" 
           placeholder="Email" name="email" #email="ngModel" required 
           pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
    <div [hidden]="email.valid||email.untouched" class="alert alert-danger">Некорректная почта</div>

    <input type="text" class="form-control mt-2" [(ngModel)]="account.numberPhone" 
           name="numberPhone" placeholder="Number Phone" #numberPhone="ngModel" required
           pattern="^((\+?3)?8)?0\d{9}$">
    <div [hidden]="numberPhone.valid||numberPhone.untouched" class="alert alert-danger">Номер обязателен</div>


    <input  type="password" class="form-control mt-2" [(ngModel)]="registrationModel.password" 
            name="password" placeholder="Password" #password="ngModel" required>
    <div [hidden]="password.valid||password.untouched" class="alert alert-danger">Пароль обязателен</div>

    <input  type="password" class="form-control mt-2" [(ngModel)]="registrationModel.confirmPassword" #confirmPassword="ngModel"
            name="confirmPassword" placeholder="Confirm Password" #password="ngModel" required>
    <div [hidden]="password.value==confirmPassword.value" class="alert alert-danger">Пароли не совпадают</div>
       
    <button  
    [disabled]="name.invalid||lastname.invalid||email.invalid||numberPhone.invalid||password.value!=confirmPassword.value||password.invalid"
    class="btn btn-success d-block mx-auto" (click)="SendConfirmCode()">Подтвердить</button>
   
</div>
       <div class="form-group mt-5" *ngIf="isSend">
           <label>Мы отправили код подтверждения на почту {{account.email}}</label>
           <input class="form-control" name="confirmCode" [(ngModel)]="registrationModel.confirmCode"
                  #confirmCode="ngModel" required maxlength="5">
           <button [disabled]="confirmCode.invalid" (click)="Registration()" class="btn btn-dark">Подтвердить</button>
       </div>
</div>


